{% extends 'layouts/application.html' %}

{% block title %}A Coding Bootcamp with ❤  We are Devschool!{% endblock %}

{% block meta_description %}Learn to code from expert mentors in our coding bootcamp online, building real world applications! We don't just train you, we guarantee a job!{% endblock %}

{% block canonical %}https://devschool.rocks{% endblock %}

{% block content %}
<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
	<div class="swiper-slide dark" style="background-image: url('/images/homepage-bg.jpg');">
	  <div class="container clearfix">
	    <div class="dark slider-caption slider-caption-center">
	      <h2>Learn to code online with a live mentor at your side</h2>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
	<div class="col-lg-5">
	  <div class="heading-block topmargin">
	    <h1>Devschool is a different kind of online coding bootcamp</h1>
	  </div>
	  <p class="lead">Learn to code, online, from an expert at our online coding bootcamp, where we train you to become a web developer, in both one on one and small team settings.</p>
	</div>

	<div class="col-lg-7">
	      <script charset="windows-1252" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_q71p9v72sx videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
	  <p>At Devschool you build the apps you want to build in our, with a curriculum based entirely on your own personal goals and interests; you build what you are interested in and don't waste time jumping through hoops.</p>
	</div>
      </div>
    </div>

    <div class="section nobottommargin blue">
      <div class="container clear-bottommargin clearfix">
	<div class="row topmargin-sm clearfix">
	  <div class="col-md-4 bottommargin">
	    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
	      <span class="before-heading">It's David &amp; Goliath</span>
	      <h4>and we aren't playing games</h4>
	    </div>
	    <p>We know we aren't a Big Box Bootcamp, and we are quite proud to say we put our students' experience ahead of every other metric. After all, what good are profits if the product is shit and students aren't happy?</p>
	  </div>

	  <div class="col-md-4 bottommargin">
	    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
	      <span class="before-heading">We don't just teach you</span>
	      <h4>We help you get a job</h4>
	    </div>
	    <p>Once you complete our online coding bootcamp program, we will continue to fight for you until you get a job offer, that is the Devschool guarantee. At session 42 you begin your hunt for a job and we guide your every step!</p>
	  </div>

	  <div class="col-md-4 bottommargin">
	    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
	      <span class="before-heading">Learn an expert Toolset</span>
	      <h4>Ruby & JavaScript & Vim</h4>
	    </div>
	    <p>At Devschool you will be trained starting day one with tools made for experts, not consumers. We help hold you up, fill in the hard parts, and slowly increase the difficulty before giving you full control!
	  </div>
	</div>
      </div>
    </div>

    <div class="container clearfix">
      <div class="row topmargin-lg bottommargin-sm">
	<div class="heading-block center">
	  <h2>Enjoy a 100% organic education!</h2>
	  <span class="divcenter">At Devschool there are <strong>no static checklists</strong> or <strong>hoops to jump through</strong>.
	    Instead, as you <strong>build the application you wish existed</strong>, you will encounter new
	    <strong>things to learn</strong> and they will be entirely based on <strong>your own personal journey</strong>,
	    and will have a lot more to do with <strong>your own goals and interests</strong>, than how much 'time'
	    you have in our program.</span>
	</div>

	<div class="col-md-6 col-sm-6 bottommargin">

	  <div class="feature-box fbox-right topmargin">
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-line-shuffle"></i></a>
	    </div>
	    <h3>Choose your adventure</h3>
	    <p>Build the app you want to build. Don't know what to build? We will help you based on your interests and goals.</p>
	  </div>

	  <div class="feature-box fbox-right topmargin"  data-delay="200">
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-line-help"></i></a>
	    </div>
	    <h3>One on one attention</h3>
	    <p>Instead of getting lost in the crowd, you will work one on one with your Instructor several times a week.</p>
	  </div>

	  <div class="feature-box fbox-right topmargin"  data-delay="400">
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-users"></i></a>
	    </div>
	    <h3>Self-assembling teams</h3>
	    <p>Work with the people you want to work with when you are ready, not the people you are assigned to.</p>
	  </div>

	</div>

	<div class="col-md-6 col-sm-6 bottommargin">
	  <div class="feature-box topmargin" >
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-line-heart"></i></a>
	    </div>
	    <h3>A Brand you can love</h3>
	    <p>We are so fiercely personal and helpful to our students that we create an "insanely human eperience".</p>
	  </div>

	  <div class="feature-box topmargin"  data-delay="200">
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-line-head"></i></a>
	    </div>
	    <h3>We only hire Experts</h3>
	    <p>We will not sacrifice out students' experiences for profits, so we only hire battle-tested veteran coders.</p>
	  </div>

	  <div class="feature-box topmargin"  data-delay="400">
	    <div class="fbox-icon">
	      <a href="#"><i class="icon-dollar"></i></a>
	    </div>
	    <h3>Money-back guarantee</h3>
	    <p>Should you decide that Devschool is not for you for any reason, we will give you a pro-rated refund.</p>
	  </div>

	</div>
      </div>
    </div>

    <div class="row clearfix common-height">
      <div class="col-md-6 col-md-offset-3 center col-padding" style="background-color: #F5F5F5;">
	<div>
	  <div class="heading-block nobottomborder">
	    <span class="before-heading color">Full Stack Developer Course</span>
	    <h3>Enroll for $5,988</h3>
	  </div>

	  <div class="center bottommargin">
	    <ul class="list list-unstyled hero">
	      <li><h4>YOU GET</h4></li>
	      <li>50 private 1 HOUR lessons with your very own EXPERT Instructor</li>
	      <li>50+ Instructor-led Group Sessions with your fellow Students (the team)</li>
	      <li>100 hour of real interning for awesome non profits on real software</li>
	      <li>Always-on Instructor and team communication via <a rel="nofollow" href="https://slack.com">#Slack</a></li>
	    </ul>
	  </div>
	  <p class="lead nobottommargin">All of this for a total of more than 600 hours of hacking and learning, guided by an expert, in a small team environment working on real applications that you can show real employers!</p>
	</div>
      </div>
    </div>

    <div class="section dark ow clearfix common-height">
      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #FF0050;">
	<div>
	  <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
	  <div class="counter counter-lined"><span data-from="100" data-to="12420" data-refresh-interval="50" data-speed="2000"></span>/hrs</div>
	  <h5>Mentorship given</h5>
	</div>
      </div>

      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color:#ff8b00;">
	<div>
	  <i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
	  <div class="counter counter-lined"><span data-from="0" data-to="100" data-refresh-interval="100" data-speed="2500"></span>%</div>
	  <h5>Hire Rate</h5>
	</div>
      </div>

      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #008EE4;">
	<div>
	  <i class="i-plain i-xlarge divcenter icon-line2-layers"></i>
	  <div class="counter counter-lined"><span data-from="10" data-to="57564" data-refresh-interval="25" data-speed="1500"></span>/yr</div>
	  <h5>Average Salary</h5>
	</div>
      </div>

      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #00b25c;">
	<div>
	  <i class="i-plain i-xlarge divcenter icon-line2-clock"></i>
	  <div class="counter counter-lined"><span data-from="1" data-to="600" data-refresh-interval="30" data-speed="1800">/hrs</span></div>
	  <h5>Course Hours</h5>
	</div>
      </div>

    </div>

    <div class="section otopmargin nobottommargin nobottomborder">
      <div class="container clearfix">
	<div class="heading-block center nomargin">
	  <h3>Some of the awesome stuff you will learn</h3>
	</div>
      </div>

      <div class="rightmargin leftmargin">
	<div class="col_one_third">
	  <div class="feature-box fbox-small fbox-plain" >
	    <div class="fbox-icon">
	      <img src="images/tools/unix.png" alt="Part of becoming a full stack developer means knowing the unix command line">
	    </div>
	    <h3>Bash &amp; Zsh</h3>
	    <p>You will learn to use bash and zsh to your advantage. Aliases, dot files, and a common set of configs and tools you can take with you is one of the hallmarks of a programmer. We will help you master the command terminal.</p>
	  </div>
	</div>

	<div class="col_one_third">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="200">
	    <div class="fbox-icon">
	      <img src="images/tools/git.png" alt="Learning to coding has become a lot easier with tools like git">
	    </div>
	    <h3>Git</h3>
	    <p>We can use Git to secure our files against loss or corruption, for working on experimental branches, for tracking changes made by other developers, and merging it all back together so it can be deployed live on the internet.</p>
	  </div>
	</div>

	<div class="col_one_third col_last">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="400">
	    <div class="fbox-icon">
	      <img src="images/tools/postgres.png" alt="Postgresql is a relational database server">
	    </div>
	    <h3>Postgres &amp; SQL</h3>
	    <p>When data must be stored (which is basically all the time), a database is needed to store and retrieve that data At Devschool we primarily focus on tried and true Postgresql and then show you newer formats like Mongo.</p>
	  </div>
	</div>

	<div class="clear"></div>

	<div class="col_one_third">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="600">
	    <div class="fbox-icon">
	      <img src="images/tools/vim.png" alt="Real full stack web developers know the power and simplicity of Vim">
	    </div>
	    <h3>Vim</h3>
	    <p>Vim is some super-secret sauce. Not only does it make you look like a wizard while you are creating and editing files, which is a large part of a developer's life, but it also is built to be a very powerful, efficient tool.</p>
	  </div>
	</div>

	<div class="col_one_third">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="800">
	    <div class="fbox-icon">
	      <img src="images/tools/mac.png" alt="Devschool exclusively uses Macs in its online coding bootcamp">
	    </div>
	    <h3>OSX</h3>
	    <p>We LOVE Macs here at Devschool. This is not an accident. Not only are they stunningly beautiful machines for doing computer work on, but they are built on UNIX, which is the basis of all those web servers out there.</p>
	  </div>
	</div>

	<div class="col_one_third col_last">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="1000">
	    <div class="fbox-icon">
	      <img src="images/tools/linux.png" alt="Linux rocks too, if you know how to use it.">
	    </div>
	    <h3>Linux</h3>
	    <p>We think Linux is a great budget OS. Similar to OSX, it is built on the solid core of the UNIX operating system, providing a robust, secure platform to build software like that of the web. It has a steep learning curve though.</p>
	  </div>
	</div>

	<div class="clear"></div>

	<div class="col_one_third bottommargin-sm">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="0">
	    <div class="fbox-icon">
	      <img src="images/tools/html5.png" alt="You cant be a web developer without knowing html5">
	    </div>
	    <h3>HTML5</h3>
	    <p>HTML is the heart and soul of the web. It is the foundation on which all the other languages and technologies revolve around and is in constant flux.</p>
	  </div>
	</div>

	<div class="col_one_third bottommargin-sm">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="200">
	    <div class="fbox-icon">
	      <img src="images/tools/css3.png" alt="CSS is responsible for styling the websites we build as web developers">
	    </div>
	    <h3>CSS3</h3>
	    <p>Without CSS the web would be a dull and drab place indeed! It is these Cascading Style Sheets that provide all of the color, margin, and fonts to websites.</p>
	  </div>
	</div>

	<div class="col_one_third bottommargin-sm col_last">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="400">
	    <div class="fbox-icon">
	      <img src="images/tools/javascript.png" alt="You can't do web development these days without knowing JavaScript and Gulp and Grunt and the rest of the JavaScript full stack">
	    </div>
	    <h3>JavaScript</h3>
	    <p>JavaScript is the only language embedded in every browser on the planet. It is the mechanism by which content is changed or animated.</p>
	  </div>
	</div>

	<div class="clear"></div>

	<div class="col_one_third bottommargin-sm">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="600">
	    <div class="fbox-icon">
	      <img src="images/tools/bootstrap.png" alt="Before Bootstrap, building responsive layouts was really hard">
	    </div>
	    <h3>Bootstrap</h3>
	    <p>Bootstrap is a framework created by Twitter to provide an easy mechanism to render complex content to a wide variety of screen dimensions.</p>
	  </div>
	</div>

	<div class="col_one_third bottommargin-sm">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="800">
	    <div class="fbox-icon">
	      <img src="images/tools/react.png" alt="from our friends at Facebook, the React JavaScript framework is taking the world of web developers and internet coders by storm!">
	    </div>
	    <h3>React</h3>
	    <p>React comes to us from the minds at Facebook. It is the technology used to create the highly interactive web components used on their website.</p>
	  </div>
	</div>

	<div class="col_one_third bottommargin-sm col_last">
	  <div class="feature-box fbox-small fbox-plain"  data-delay="1000">
	    <div class="fbox-icon">
	      <img src="images/tools/rails.png" alt="Want to build websites fast? Ruby on Rails will help!">
	    </div>
	    <h3>Ruby on Rails</h3>
	    <p>Ruby on Rails provides an excellent back-end framework for websites with a lot of data entry going on. It excels at helping devs to quickly build features.</p>
	  </div>
	</div>

	<div class="clear"></div>
      </div>

    </div>

    <div class="clear"></div>

    <div class="button button-full button-dark center tright bottommargin-lg">
      <div class="container clearfix more-reviews">
	Looking for more Devschool reviews?
	<span class="links">Try
	  <a target="_blank" rel="nofollow" href="https://www.coursereport.com/schools/devschool">CourseReport</a>,
	  <a target="_blank" rel="nofollow" href="https://www.switchup.org/bootcamps/devschool">SwitchUp</a>, or
	  <a target="_blank" rel="nofollow" href="https://www.quora.com/Reviews-of-Devschool">Quora</a>
	</span>
      </div>
    </div>

    <div class="container clearfix">

      <h3>The <strong>Big Box Bootcamps</strong> want to <strong>take a lot of your money and</strong>
	then shove you through a predetermined course to maximize their own profits and so they can,
	<strong>hire sub-standard Instructors</strong>.</h3>

      <p class="lead">They seem to think this is a <strong>gold rush</strong>, and that you are the miners,
      coming far and wide, filled with dreams of making a living, and that it is their job to
      sell you shovels, wheelbarrows, donkeys and blasting powder for <strong>3x a fair amount</strong>.</p>

      <h3><strong>Meanwhile...</strong> Devschool was <strong>founded by developers and engineers</strong>,
	not MBAs who are just on a land-grab.</h3>

      <p class="lead">As new programmers, you are our new Brothers and Sisters
      and <strong>we are fiercely protective of our own</strong>, this is one of the many reasons why
      <strong>we are priced reasonably</strong> as well. Devschool is not just for the rich.</p>


    </div>

    <div class="section parallax dark nobottommargin" style="background-image: url('images/reviews-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

      <div class="heading-block center">
	<h3>What do students say?</h3>
      </div>

      <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
	<div class="flexslider">
	  <div class="slider-wrap">
	    <div class="slide">
              <div class="microdata hidden">
                <div itemscope itemtype="http://schema.org/Review">
                  <div itemprop="reviewBody">My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</div>
                  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                    Written by: <span itemprop="name">Eric Douglas</span></div>
                  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">Devschool</span></div>
                  <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
                </div>
              </div>
              <div class="testi-image">
                <img src="images/reviewers/eric-douglas.png" class="img-responsive img-circle" alt="Eric Douglas - Devschool Alumni and web developer">
              </div>
              <div class="testi-content">
                <p>My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</p>

                <div class="testi-meta">
                  Eric Douglas
                  <span>Intuit</span>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="microdata hidden">
                <div itemscope itemtype="http://schema.org/Review">
                  <div itemprop="reviewBody">I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</div>
                  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                    Written by: <span itemprop="name">Megan Holden</span></div>
                  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">Devschool</span></div>
                  <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
                </div>
              </div>

              <div class="testi-image">
                <img src="images/reviewers/meghan-holden.png" class="img-responsive img-circle" alt="Megan Holden, Devschool ALumni and web developer">
              </div>
              <div class="testi-content">
                <p>I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</p>
                <div class="testi-meta">
                  Meghan Holden
                  <span>Akai Marketing</span>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="microdata hidden">
                <div itemscope itemtype="http://schema.org/Review">
                  <div itemprop="reviewBody">I was enrolled in another coding bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</div>
                  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                    Written by: <span itemprop="name">Hector Moreno</span></div>
                  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">Devschool</span></div>
                  <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
                </div>
              </div>
              <div class="testi-image">
                <img src="images/reviewers/hector-moreno.png" class="img-responsive img-circle" alt="Hector Moreno graduated Devschool in 2015 and is now a web developer">
              </div>
              <div class="testi-content">
                <p>I was enrolled in another coding bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</p>
                <div class="testi-meta">
                  Hector Moreno
                  <span>RemoteTiger</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section notopmargin notopborder">
      <div class="container clearfix">
        <div class="heading-block center nomargin">
          <h3>100% of our Graduates have jobs!</h3>
        </div>
      </div>
    </div>

    <div class="container clear-bottommargin clearfix">
      <div class="row">

        <p class="lead"><strong>How can we boast such a thing?</strong> Well, it is actually VERY SIMPLE (hint,
        we like simple). You don't graduate until you get a job, therefore 100%
        of our graduates have jobs!</p>

        <h3>But what if I find it hard to find work? What if I don't get a job?</h3>

        <p class="lead">Without any further cost to you, we will continue to fight on your side,
        working every day to help get you a job until we get you placed. But to be
        honest, finding people jobs has not been our problem. It has been keeping
        people enrolled in the program their last few weeks because they keep getting
        hired before they finish their studies with us!</p>

        <p class="lead">After you complete the "dev school" program you will continue to have access to chat
        and the group sessions and even interview assistance! We are in this for the
        long haul, building relationships with our alumni that will hopefully last
        lifetimes!</p>
      </div>
    </div>

    <div class="section blue">
      <div class="container clearfix">
        <div class="heading-block center nomargin">
          <h3>Yes, Devschool teaches you to code, but we go much further than that! We help you practice for interviews, solve code challenges, and we don't stop working to get you a job until you are hired - that is our promise to you.</h3>
        </div>
      </div>
    </div>

    <div class="container clear-bottommargin clearfix">
      <div class="container clearfix">
        <div class="row">
          <p class="lead">You see, at Devschool, we start with the Student experience and work forward from there to our goals that involve creating a sustainable, profitable, socially conscionable developer school.</p>

          <p class="lead">It is an article of faith here that if we listen to our customers' needs, make them feel special, guide them towards a prosperous career, and help them land that first job with confidence, then profits and margins and all that 'businessy' stuff will just take care of itself.</p>

          <p class="lead">Maybe we are naive, but we don't think so. Instead, and so far the data is showing, that a programming school can be founded and run without the top-heavy management of MBAs. Our genuine desire to build life-long, positive relationships with our Students, is worth far more than any penny we could ever squeeze.</p>

          <p class="lead">Honestly we don't care if we are called crazy. We are proud to be among those who think and do different.</p>
        </div>
      </div>
    </div>

    <div class="section notopmargin notopborder">
      <div class="container clearfix">
        <div class="heading-block center nomargin">
          <h3>We work as a team and communicate like #Slackers</h3>
        </div>
      </div>
    </div>

    <div class="container clearfix">
      <div class="row">
        <img src="images/slack-shot.png" alt="screenshot of Slack, our preferred communications app">
      </div>
    </div>

    <div class="section topmargin blue">
      <div class="container clearfix">
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">The two most important days of your life..</span>
          <h4>The day you are born, and the day you find out why</h4>
        </div>
      </div>
    </div>

    <div class="container topmargin clearfix">
      <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
        <h2>What does the Devschool brand stand for?</h2>
      </div>

      <p class="lead">To put it simply, Devschool stands for the highest standard of excellence in customer service and student education. It is a very hard mark to hit and it keeps us on our toes, but so far we have a 100% approval rating from our alumni, and much of that is due to our relentless duty to our Students' happieness.</p>

      <p>For instance, every Instructor we hire must exibit not only a strong desire to teach the next generation of programmers in a fun and energetic, informative manner, but they also must promise to hold the torch of our Student experience high and represent the brand at all times.</p>

      <p>You see, at Devschool the Student is always right when it comes to their perception of service. "They pay, they say" is our motto and it extends to how our Students are treated, respected, and ultimately prepared for their careers in coding.</p>

      <p>After our Students, our Brand is our most important asset, and we understand how our brand is ultimately labeled, not by us, but by the world around us. We feel that by jealously guarding the experience and education of our students and always helping someone when we can, we will deliver such amazing experience our brand awareness will spread on it own.</p>
    </div>

    <div class="section topmargin blue">
      <div class="container clearfix">
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <h4>
            Here's to the crazy ones. The misfits. The rebels. The troublemakers.
            <span class="before-heading">The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things.</span>
          </h4>
        </div>
      </div>
    </div>

    <div class="container topmargin clearfix">
      <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
        <h2>Our job placement numbers explained</h2>
      </div>

      <p class="lead">We have a 100 % hire rate after graduation, but unlike some of the Big Box Bootcamps, our numbers are easy to explain!</p>

      <p>When you complete your interning hours and are nearing the end of your 42 private sessions, you begin looking for work. During you job search we advise you on how to make yourself more palatable by employers and help you complete AND UNDERSTAND the code challenges you will be given as part of that job search.</p>

      <p>When you get your first job you graduate the program. If you don't get the job you do what winners do, you keep looking, and in the meanwhile we try to find a place for you with one of our non profit partners.</p>

      <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
        <h2>What our job guarantee means</h2>
      </div>

      <p class="lead">We don't stop working for you until you get a job. You pay no additional cost for this service, it is part of why Devschool is radically different from the so called competition. They give you McDonalds we give you steak.</p>
    </div>
  </div>
</section>

<section id="applySection" class="section nomargin noborder bgcolor dark" style="margin-bottom: 0px;">
  <div class="content-wrap">
    <div class="container clearfix bottommargin">
      <div class="heading-block center nomargin">
        <h3>Make 2016 the year you change your life!</h3>
      </div>
    </div>

    <div class="container clear-bottommargin clearfix">
      <div class="row form">
        <div class="form-card">
          <h3>Start today at no cost!
            We think after you have a chance to learn something personally from a Devschool instructor, you will take the leap and make 2016 the year you finally learn to code for real.</h3>
          <div class="text-center">
            <button name="button" type="submit" class="block joinNowBtn button button-border button-rounded button-xlarge noleftmargin ">
              <span>I want my Devschool preview and interview!</span>
              <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 11 12" class="play-icon">
                <path d="M10.5,5.1l-9-5C1.3,0,1.2,0,1,0C0.8,0,0.6,0,0.5,0.1C0.2,0.3,0,0.6,0,1v10c0,0.4,0.2,0.7,0.5,0.9C0.6,12,0.8,12,1,12
                c0.2,0,0.3,0,0.5-0.1l9-5C10.8,6.7,11,6.3,11,6C11,5.6,10.8,5.3,10.5,5.1z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Here is how to claim your interview..</h2>
      </div>
      <div class="modal-body">
        <p class="lead">To get your Devschool Interview we need you to help us run an experiement!
        Just open a new browser window,
        and google "online coding bootcamp" or for bonus points, "coding bootcamp".</p>

        <p>Then click through the pages of results one by one until you find our link. Take a screeshot of the link position for us and
        then, click it! Once you have done that, you can then close the browser window. Make sure you don't hit the back button!</p>

        <p>Send us a screenshot (<a href="mailto:interviews@devschool.rocks">interviews@devschool.rocks</a>) of
        the position you found us at and tell us why you want to join Devschool.</p>

        <p>Last step, like us on <a href="https://www.facebook.com/devschoolrocks">Facebook</a> and on <a href="https://twitter.com/devschoolrocks">Twitter</a>. This helps us
        keep marketing costs to a low $0 spent so we can focus on what matters, YOUR EDUCATION!</p>

        <h3>Thanks for your interest in Devschool! We hope to play an important part in making your dreams come true!</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
