/* Common styles */
.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing--item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing--feature-list {
  text-align: left;
}

.pricing--action {
  color: inherit;
  border: none;
  background: none;
}

.pricing--action:focus {
  outline: none;
}

.pricing .pricing--item {
  padding: 2em 3em;
  margin: 1em;
  color: #262b38;
  background: #fff;
  cursor: default;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

@media screen and (min-width: 66.250em) {
  .pricing .pricing--item {
    margin: 1.5em;
  }
  .pricing .pricing--item--featured {
    z-index: 10;
    margin: 0;
    font-size: 1.15em;
  }
}

.pricing .pricing--title {
  font-size: 2em;
  margin: 0.5em 0 0;
  color: #1d211f;
}

.pricing .icon {
  display: inline-block;
  min-width: 2em;
  color: #8A9790;
  vertical-align: middle;
  top: 2px;
}

.pricing-section--price {
  font-size: 4em;
  font-weight: 800;
  color: #F14B51;
  position: relative;
  z-index: 100;
}

.pricing--currency {
  font-size: 0.5em;
  vertical-align: super;
}

.pricing--period {
  font-size: 0.5em;
  display: inline-block;
  padding: 0 0 0 0.5em;
  color: #F14B51;
}

.pricing .pricing--sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
  color: #0992E8;
}

.pricing .pricing--feature-list {
  font-size: 0.95em;
  margin: 0;
  padding: 1.5em 0.5em 2.5em;
  list-style: none;
}

.pricing .pricing--feature {
  padding: 0.15em 0;
}

.pricing .pricing--action {
  font-weight: bold;
  margin-top: auto;
  padding: 1em 2em;
  color: #fff;
  border-radius: 5px;
  background: #F4494D;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pricing .pricing--action:hover,
.pricing .pricing--action:focus {
  background-color: #4F5F56;
}

