	<ul class="pricing--feature-list">
	  <li class="pricing--feature"><span class="icon icon-tv"></span>50 Private Mentor Lessons</li>
	  <li class="pricing--feature"><span class="icon icon-line2-hourglass"></span>650 Hours of Learning</li>
	  <li class="pricing--feature"><span class="icon icon-line2-rocket"></span>We guarantee your job</li>
	  <li class="pricing--feature"><span class="icon icon-comment-alt"></span>Classroom chat via #Slack</li>
	  <li class="pricing--feature"><span class="icon icon-support"></span>Learn to code like a pro</li>
	  <li class="pricing--feature"><span class="icon icon-video"></span>Save and replay your sessions</li>
	</ul>
