<ul class="pricing--feature-list">
  <li class="pricing--feature"><span class="icon icon-tv"></span>50+ Private Lessons</li>
  <li class="pricing--feature"><span class="icon icon-support"></span>50+ Group Lessons</li>
  <li class="pricing--feature"><span class="icon icon-line2-hourglass"></span>Over 650 Hours of Learning</li>
  <li class="pricing--feature"><span class="icon icon-line2-rocket"></span>We guarantee you a job</li>
  <li class="pricing--feature"><span class="icon icon-comment-alt"></span>Classroom chat via #Slack</li>
  <li class="pricing--feature"><span class="icon icon-video"></span><a target=_blank href="https://egghead.io">egghead.io</a></li>
  <li class="pricing--feature"><span class="icon icon-video"></span><a target=_blank href="http://frontendmasters.com">frontendmasters.com</a></li>
    </ul>
  </li>
</ul>
