<footer id="footer" class="dark">
  <div class="container">
    <div class="footer-widgets-wrap clearfix">
      <div class="col_one_third">
        <div class="widget clearfix">

          <div style="min-height: 100px; background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
            <address>
              <strong>Corporate:</strong><br>
              8 THE GREEN Suite #4595<br>
              Dover Delaware 19901<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (01) 702 7999907<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> hello@devschool.rocks<br>
          </div>
        </div>
      </div>

      <div class="col_one_third">
        <div class="widget clearfix">
          <h4>Student Testimonials</h4>

          <div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                {% for review in site.reviews %}
                <div class="slide">
                  <div class="testi-content">
                    <p>{{ review.body }}</p>
                    <div class="testi-meta">
                      {{ review.name }}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>

        <div class="widget clearfix">
          <a href="https://www.facebook.com/devschoolrocks" title="our facebook page" class="social-icon si-small si-rounded si-facebook">
            <span class="icon-facebook"></span>
            <span class="icon-facebook"></span>
          </a>

          <a href="https://twitter.com/devschoolrocks" title="our twitter page" class="social-icon si-small si-rounded si-twitter">
            <span class="icon-twitter"></span>
            <span class="icon-twitter"></span>
          </a>

          <a href="https://github.com/devschool-rocks" title="our github page" class="social-icon si-small si-rounded si-github">
            <span class="icon-github"></span>
            <span class="icon-github"></span>
          </a>

          <a href="https://www.linkedin.com/company/devschool" title="our linkedin page" class="social-icon si-small si-rounded si-linkedin">
            <span class="icon-linkedin"></span>
            <span class="icon-linkedin"></span>
          </a>

          <a href="https://plus.google.com/+DevschoolRocks-online-coding-bootcamp" title="our google plus page" class="social-icon si-small si-rounded si-gplus">
            <span class="icon-gplus"></span>
            <span class="icon-gplus"></span>
          </a>

        </div>
      </div>

      <div class="col_one_third col_last">
        <img src="/images/foot-logo.png" height="120" alt="Devschool coding bootcamp" class="footer-logo">
      </div>

    </div>
  </div>

  <div id="copyrights">
    <div class="container clearfix">

      <div class="col_half">
        <p>Copyright &copy; 2015-2016 All Rights Reserved by Devschool Inc.</p>
        <p>Devschool and it's logo are registered Trademark in the USA and Mexico</p>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <div class="copyrights-menu copyright-links nobottommargin">
            <a href="/" title="devschool's online coding bootcamp homepage">home</a>/<a href="/terms" title="devschool's terms of service">terms</a>/<a href="/privacy" title="devschool's privacy policy">privacy</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>
