<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700%7CArvo:400,600,800" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <title>{% block title %}Best Online Coding Bootcamp in 2016 - We are Devschool!{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Devschool is a different take on coding bootcamps. We teach you to code by coding with you, side by side, while building real world web applications!{% endblock %}">
    <link rel="canonical" href="{% block canonical %}https://devschool.rocks/{{ file.page.permalink }}{% endblock %}" />
    {% include 'src/templates/_app-icons.html' %}

  </head>

  <body class="stretched device-lg">
    <div id="wrapper" class="clearfix">

<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="logo" class="">
        {% block logo %}
  <a href="/" class="standard-logo" data-dark-logo="/images/layout/logo-dark.svg"><img width="180" src="/images/layout/logo.svg" alt="Devschool, online coding bootcamp"></a>
  <a href="/" class="retina-logo" data-dark-logo="/images/layout/logo-dark.svg"><img width="180" src="/images/layout/logo.svg" alt="Learn to code online in our coding bootcamp"></a>
        {% endblock %}
      </div>

      <nav id="primary-menu" class="dark">
        <ul>
          {% block menu %}
<li><a href="/"><div>CODING BOOTCAMP</div></a></li>
<li><a class="active" href="/blog"><div>THE BLOG</div></a></li>
          {% endblock %}
        </ul>
      </nav>

    </div>
  </div>
</header>
      <section id="content" style="margin-bottom: 0px;">
        <div class="content-wrap">
          <div class="container clearfix">
            <article class="single-post nobottommargin">
              <div class="entry clearfix">
                <div class="entry-title">
                  <h1>{{ file.page.title }}</h1>
                </div>

                <div class="entry-image">
                  <img src="/images/blog/{{ file.page.title | lower | replace(' ', '-') }}.jpg" alt="{{ file.page.title }}">
                </div>

                {{ file.page.body|safe }}

              </div>
            </article>
          </div>
        </div>
      </section>
      {% include 'src/templates/_footer.html' %}

    </div>

    <noscript>We are sorry, but you have turned off your JavaScript and therefore you cannot use this website.</noscript>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
