<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Arvo:400,600,800" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <meta name="description" content="{% block meta_description %}Devschool will take you from newbie to paid web developer{% endblock %}">
    <link rel="canonical" href="{% block canonical %}https://devschool.rocks/{{ file.page.permalink }}{% endblock %}" />
    {% include 'src/templates/_app-icons.html' %}

    <title>{{ file.page.title }} | Devschool</title>
  </head>

  <body class="stretched device-lg">
    <div id="wrapper" class="clearfix">

<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="logo" class="">
        {% block logo %}{% endblock %}
      </div>

      <nav id="primary-menu" class="dark">
        <ul>
          {% block menu %}{% endblock %}
        </ul>
      </nav>

    </div>
  </div>
</header>
      <section id="content" style="margin-bottom: 0px;">
        <div class="content-wrap">
          <div class="container clearfix">
            <article class="single-post nobottommargin">
              <div class="entry clearfix">
                <div class="entry-title">
                  <h1>{{ file.page.title }}</h1>
                </div>

                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> {{ file.page.publishedOn }}</li>
                  <li><a href="https://codementor.io/devschool" target="_blank"><i class="icon-user"></i> {{ file.page.author }}</a></li>
                  <li><i class="icon-folder-open"></i> {{ file.page.tags }}</li>
                </ul>

                <div class="entry-image">
                  <img src="/images/blog/{{ file.page.title | lower | replace(' ', '-') }}.jpg" alt="{{ file.page.title }}">
                </div>

                {{ file.page.body|safe }}

              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Published by <span><a href="https://codementor.io/devschool" target="_blank">{{ file.page.author }}</a></span></h3>
                </div>
                <div class="panel-body">
                  <div class="author-image">
                    <img src="/images/authors/{{ file.page.author | lower | replace(' ', '-') }}.png" alt="" class="">
                  </div>
                  <div data-author-name="{{ file.page.author | lower | replace(' ', '-') }}" id="blog_author_bio"></div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      {% include 'src/templates/_footer.html' %}

    </div>

    <noscript>We are sorry, but you have turned off your JavaScript and therefore you cannot use this website.</noscript>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
