<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700%7CArvo:400,600,800" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <title>{% block title %}Best Online Coding Bootcamp in 2016 - We are Devschool!{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Devschool is a different take on coding bootcamps. We teach you to code by coding with you, side by side, while building real world web applications!{% endblock %}">
    <link rel="canonical" href="{% block canonical %}https://devschool.rocks/{{ file.page.permalink }}{% endblock %}" />
    {% include '_app-icons.html' %}

  </head>
  <body class="stretched avgrund-blur">
    <div id="wrapper" class="clearfix">
      <header id="header" class="transparent-header full-header {% block dark %}{% endblock %}" data-sticky-class="not-dark">
	<div id="header-wrap">
	  <div class="container clearfix">
	    <div id="logo" class="">
	      {% block logo %}{% endblock %}
	    </div>

	    <nav id="primary-menu" class="dark">
	      <ul>
		{% block menu %}{% endblock %}
	      </ul>
	    </nav>

	  </div>
	</div>
      </header>
      {% block body %}{% endblock %}
      {% include '_footer.html' %}

      <div id="gotoTop" class="icon-angle-up"></div>
    </div>

    <noscript>We are sorry, but you have turned off your JavaScript and therefore you cannot use this website.</noscript>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
