{% extends 'layout.html' %}

{% block title %}The Devschool blog, read about out online coding bootcamp!{% endblock %}
{% block meta_description %}Devschool will take you from newbie to paid web developer{% endblock %}
{% block canonical %}https://devschool.rocks/blog{% endblock %}

{% block menu %}
<li><a href="/"><div>CODING BOOTCAMP</div></a></li>
<li><a class="active" href="/blog"><div>THE BLOG</div></a></li>
{% endblock %}

{% block logo %}
<a href="/" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo.png" alt="Devschool, online coding bootcamp"></a>
<a href="/" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="Learn to code online in our coding bootcamp"></a>
{% endblock %}

{% block body %}
<div class="content-wrap">
<div class="container clearfix">
  <div id="posts" class="post-grid grid-container post-masonry clearfix">
    {% for post in site.posts %}
    <div class="entry clearfix">
      <div class="entry-image">
        <a data-lightbox="image" href="{{ post.permalink }}">
	  <img class="image_fade" src="/images/blog/{{ post.title | lower | replace(' ', '-') }}.jpg" alt="{{ post.title }}"></a>
      </div>
      <ul class="entry-meta clearfix">
	<li><i class="icon-calendar3"></i> {{ post.publishedOn }}</li>
	<li><i class="icon-folder-open"></i> {{ post.tags }}</li>
      </ul>
      <div class="entry-content">
        <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
        {{ post.summary|safe }}
        <a href="{{ post.permalink }}">Continue reading this article</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}

{% block reviews %}
{% for review in site.reviews %}
<div class="slide">
  <div class="testi-content">
    <p>{{ review.body }}</p>
    <div class="testi-meta">
      {{ review.name }}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
