{% extends 'layout.html' %}
{% block title %}Coding Bootcamp | Learn JavaScript and React from an Expert{% endblock %}
{% block meta_description %}At our Online Coding Bootcamp, you learn REAL TIME from an EXPERT DEVELOPER. Learn at your OWN PACE. Rewatch any class session at any time on the cloud!{% endblock %}
{% block canonical %}https://devschool.rocks{% endblock %}

{% block menu %}
<li><a href="/"><div>HOME</div></a></li>
<li><a data-scrollto="#pricing" data-offset="60" href="#pricing"><div>PRICING</div></a></li>
<li><a data-scrollto="#faq" data-offset="60" href="#faq"><div>FAQ</div></a></li>
<li><a data-scrollto="#apply" data-offset="60" href="#apply"><div>Apply</div></a></li>
<li><a href="/blog"><div>THE BLOG</div></a></li>
<li><a href="https://123JavaScript.com"><div>Learn JavaScript @ 123JavaScript.com</div></a></li>
{% endblock %}

{% block dark %}dark{% endblock %}

{% block body %}

<section id="slider" class="force-full-screen full-screen">
  <div class="force-full-screen full-screen parallax section nopadding nomargin noborder ohidden" style="height: 781px;">
    <div class="container clearfix dark">
      <div class="dark slider-caption slider-caption-center" style="top: 264.5px;">
        <h1>Our Coding Bootcamp focuses on Pair Programming with an Expert</h1>
        <h2>Our teaching focuses on JavaScript, ES6, React, Node, Webpack, and Ruby on Rails</h2>
        <h3>But we also teach SEO, Design, Algorithms and Data Structures, Data Science, Functional Programming and so much more!</h3>
        <a data-animate="fadeInUp" data-delay="400" data-scrollto="#watchDemo" data-offset="60" 
                                                                               href="#watchDemo" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin fadeInUp animated"
                                                                                                 style="margin-top: 30px">WATCH DEMO</a>
        <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">Apply Today!</a>
      </div>
    </div>
    <div class="video-wrap">
      <video poster="/images/demo.png" preload="auto" loop="" autoplay="" muted="" style="width: 1596px; height: 898px; top: -58.5px;">
        <source src="/videos/demo.mp4" type="video/mp4">
          <source src="/videos/demo.webm" type="video/webm">
      </video>
      <div class="video-overlay" style="background-color: rgba(0,0,0,0.45)">&nbsp;</div>
    </div>
  </div>
</section>

<section id="watchDemo">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-5">
          <div class="center heading-block topmargin">
            <h2>See what learning at Devschool is like!</h2>
          </div>
          <p class="lead">At Devschool you learn JavaScript and Ruby, as they should be written. Functional, immutable, beautiful JavaScript with closures and asynchronicity thanks to the power of NodeJS!</p>
        </div>

        <div class="col-lg-7">
          <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_s726r27yb3 videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="jumboelect jumbotron text-center">
    <div class="heading">
      <div class="container">
        <div class="pricing row">
          <h2 class="curriculum-title center">Learn Modern Web Development</h2>

          <h4>Data Structures and Algorithms and general computer science topics are included in both tracks! Learn the ins and outs of breaking down and solving problems in software, no matter what the language is!</h4>
        </div>
      </div>
    </div>
    <div class="curriculum">
      <div class="container">
        <div class="row">
          <div class="pricing">
            <div class="pricing-item">
              <h3 class="pricing-section-title center">TRACK I - Modern Front End Developer</h3>
              <div class="pricing-section-price center">
                <span class="pricing-currency">Only $</span>4,300<span class="pricing-period"> to start *</span>
              </div>

              <p class="lead">This tack focuses on learning the fundamentals of web development using a modern toolset.</p>

              <p>After completing this course you'll be comfortable with front end technologies and be able to ship websites using HTML, React and es6, and be comfortable working with JavaScript and JSON and be able to handle common build needs via webpack and gulp.</p>

              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">React/Redux</li>
                  <li class="list-group-item">HTML5/CSS3</li>
                  <li class="list-group-item">JavaScript</li>
                  <li class="list-group-item">es6/2016</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">Redux</li>
                  <li class="list-group-item">Browserify</li>
                  <li class="list-group-item">Webpack</li>
                  <li class="list-group-item">Gulp</li>
                </ul>
              </div>
              <div class="col-md-6">
                <img class="track-icon" src="/images/homepage/mfed.png" alt="">
              </div>
              <div class="col-md-6">
                <ul class="pricing-feature-list">
                  <li class="pricing-feature"><span class="icon icon-tv"></span>50 Personal Instruction Lessons</li>
                  <li class="pricing-feature"><span class="icon icon-support"></span>Unlimited Group Sessions</li>
                  <li class="pricing-feature"><span class="icon icon-line2-hourglass"></span>More than 300 Hours of Learning</li>
                  <li class="pricing-feature"><span class="icon icon-line2-rocket"></span>We guarantee a $40,000/yr Job! **</li>
                </ul>
              </div>
              <div class="col-md-12">
                <p class="note">* We now finance half of your enrollment tuition!</p>
                <p class="note">** Salary amount can only be guaranteed in USA, Canada, and the UK</p>
              </div>
            </div>

            <div class="pricing-item blue">
              <h3 class="pricing-section-title center">TRACK II - Modern Full Stack Developer</h3>
              <div class="pricing-section-price center">
                <span class="pricing-currency">Only $</span>4,300<span class="pricing-period">to start *</span>
              </div>

              <p class="note"><strong>You must first complete TRACK I to begin this course!</strong></p>

              <p class="lead">For those who don’t want to be confined to the front end, we offer the Full Stack track.</p>

              <p>After completing this course you'll be comfortable on the front and back end, building websites in JavaScript and Ruby complete with rest web services, databases, and more. You will also be able to impress employers with your ability to code in the console like a pro!</p>

              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">JavaScript</li>
                  <li class="list-group-item">es6/2016</li>
                  <li class="list-group-item">Node</li>
                  <li class="list-group-item">Express</li>
                  <li class="list-group-item">React/Redux</li>
                  <li class="list-group-item">Testing</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">Ruby on Rails</li>
                  <li class="list-group-item">Postgres</li>
                  <li class="list-group-item">MongoDB</li>
                  <li class="list-group-item">Webpack</li>
                  <li class="list-group-item">Gulp/Streams</li>
                  <li class="list-group-item">Rest/Services</li>
                </ul>
              </div>

              <div class="col-md-6">
                <img class="track-icon" src="/images/homepage/mfsd.png" alt="">
              </div>

              <div class="col-md-6">
                <ul class="pricing-feature-list">
                  <li class="pricing-feature"><span class="icon icon-tv"></span>100 Personal Instruction Lessons</li>
                  <li class="pricing-feature"><span class="icon icon-support"></span>Unlimited Group Sessions</li>
                  <li class="pricing-feature"><span class="icon icon-line2-hourglass"></span>Over 600 Hours of Learning</li>
                  <li class="pricing-feature"><span class="icon icon-line2-rocket"></span>We guarantee a $55,000/yr Job! **</li>
                </ul>
              </div>

              <div class="col-md-12">
                <p class="note">* We now finance half of your enrollment tuition!</p>
                <p class="note">** Salary amount can only be guaranteed in USA, Canada, and the UK</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="reviews" class="section parallax dark nobottommargin" style="background-image: url('/images/reviews-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

  <div class="heading-block center">
    <h3>What do our alumni think?</h3>
  </div>

  <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Eric Douglas</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>
          <div class="testi-image">
            <img src="/images/reviewers/eric-douglas.png" class="img-responsive img-circle" alt="Eric Douglas - Devschool Alumni and web developer">
          </div>
          <div class="testi-content">
            <p>My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</p>

            <div class="testi-meta">
              Eric Douglas
              <span>Intuit</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they need to build modern web applications.</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Megan Holden</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>

          <div class="testi-image">
            <img src="/images/reviewers/meghan-holden.png" class="img-responsive img-circle" alt="Megan Holden, Devschool ALumni and web developer">
          </div>
          <div class="testi-content">
            <p>I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they to need to build modern web applications.</p>
            <div class="testi-meta">
              Meghan Holden
              <span>Akai Marketing</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">I was enrolled in another programming bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Hector Moreno</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>
          <div class="testi-image">
            <img src="/images/reviewers/hector-moreno.png" class="img-responsive img-circle" alt="Hector Moreno graduated Devschool in 2015 and is now a web developer">
          </div>
          <div class="testi-content">
            <p>I was enrolled in another programming bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</p>
            <div class="testi-meta">
              Hector Moreno
              <span>RemoteTiger</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="externalReviews">
  <div class="more-reviews">
    <div class="container center white">
      <h2 class="white">Looking for Devschool Reviews - here are the links!</h2>
      <p class="links">
      <a target="_blank" rel="nofollow" href="https://www.coursereport.com/schools/devschool">CourseReport</a> |
      <a target="_blank" rel="nofollow" href="https://www.switchup.org/bootcamps/devschool">SwitchUp</a> |
      <a target="_blank" rel="nofollow" href="https://www.quora.com/Reviews-of-Devschool">Quora</a>
      </p>
    </div>
  </div>
</section>

<section id="organicEducation">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row topmargin-lg bottommargin-sm">
        <div class="heading-block center">
          <h2>Enjoy a 100% organic education!</h2>
          <span class="divcenter">At Devschool there are <strong>no static checklists</strong> or <strong>hoops to jump through</strong>.
            Instead, as you <strong>build the application you wish existed</strong>, you'll encounter new
            <strong>things to learn</strong> and they will be entirely based on <strong>your own personal journey</strong>,
            and will have a lot more to do with <strong>your own goals and interests</strong>, than how much 'time'
            you have in our program.</span>
        </div>

      </div>

      <div class="col-md-6 col-sm-6 bottommargin">

        <div class="feature-box fbox-right topmargin">
          <div class="fbox-icon">
            <span class="icon-line-shuffle"></span>
          </div>
          <h3>Choose your adventure</h3>
          <p>Build the app you want to build. Don't know what to build? We will help you based on your interests and goals.</p>
        </div>

        <div class="feature-box fbox-right topmargin"  data-delay="400">
          <div class="fbox-icon">
            <span class="icon-users"></span>
          </div>
          <h3>Self-assembling teams</h3>
          <p>Work with the people you want to work with when you are ready, not the people you are assigned to.</p>
        </div>

      </div>

      <div class="col-md-6 col-sm-6 bottommargin">
        <div class="feature-box topmargin"  data-delay="200">
          <div class="fbox-icon">
            <span class="icon-line-head"></span>
          </div>
          <h3>We only hire Experts</h3>
          <p>We won't sacrifice out students' experiences for profits, so we only hire battle-tested veteran coders.</p>
        </div>

        <div class="feature-box topmargin"  data-delay="400">
          <div class="fbox-icon">
            <span class="icon-dollar"></span>
          </div>
          <h3>Money-back guarantee</h3>
          <p>Should you decide that Devschool is not for you for any reason, you will get a pro-rated refund.</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="pricing-section-title center">Learn to code, change your life</h3>

  <p class="pricing-section-title center">
  <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">APPLY TODAY!</a>
  </p>
</section>

<section id="three-ways-to-learn" class="section notopmargin">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-12 text-center">
          <div class="heading-block center">
            <h3>More Ways to Learn at Devschool!</h3>
            <p>Not everyone learns best from the same medium, we like to mix it up!</p>
          </div>
          <div class="row">
            <ul class="more-ways list-group zoom-list">
              <li class="list-group-item"><span>Learn live, as a group, led by expert Instructors</span></li>
              <li class="list-group-item"><span>Each week your we spotlight your app for an hour</span></li>
              <li class="list-group-item"><span>Your lessons are automagically recorded to rewatch</span></li>
              <li class="list-group-item"><span>Hack on your real-world projects</span></li>
              <li class="list-group-item"><span>Learn from additional expert-led videos from our partners</span></li>
              <li class="list-group-item"><span>Pair-program with other students on their projects and yours</span></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="guarantee">
  <div class="section notopmargin notopborder">
    <div class="container clearfix">
      <div class="heading-block center nomargin">
        <h3>100% of our Graduates have jobs!</h3>
      </div>
    </div>
  </div>

  <div class="container clear-bottommargin clearfix">
    <div class="row">

      <p class="lead"><strong>How can we boast such a thing?</strong> Well, it is actually VERY SIMPLE (hint,
      we like simple). You don't graduate until you get hired, therefore 100%
      of our graduates have jobs!</p>

      <h3>But what if I find it hard to find work? What if I don't find a job?</h3>

      <p class="lead">Without any further cost to you, we continue to fight on your side,
      working every day to help get you a job until we get you placed. But to be
      honest, finding people jobs has not been our problem. It has been keeping
      people enrolled in the program their last few weeks because they keep getting
      hired before they finish their studies with us!</p>

      <p class="lead">After you complete our full stack developer bootcamp program you
      continue to have access to chat and the group sessions and even interview assistance!
      We are in this for the long haul, building relationships with our alumni that will hopefully last
      lifetimes!</p>
    </div>
  </div>

  <div class="section blue">
    <div class="container clearfix">
      <div class="center nomargin">
        <h3>Yes, Devschool teaches you to code, but we go much further than that! We help you practice for interviews, solve code challenges, and we don't stop working to get you a job until you are hired - that is our promise to you.</h3>
      </div>
    </div>
  </div>

  <div class="container clear-bottommargin clearfix">
    <div class="container clearfix">
      <div class="row">
        <p class="lead">You see, at Devschool, we start with the Student experience and work forward from there to our goals that involve creating a sustainable, profitable, socially conscionable developer school.</p>

        <p class="lead">It is an article of faith here that if we listen to our customers' needs, make them feel special, guide them towards a prosperous career, and help them land that first job with confidence, then profits and margins and all that 'businessy' stuff will just take care of itself.</p>

        <p class="lead">Maybe we are naive, but we don't think so. Instead, and so far the data is showing, that a programming school can be founded and run without the top-heavy management of MBAs. Our genuine desire to build life-long, positive relationships with our Students, is worth far more than any penny we could ever squeeze.</p>

        <p class="lead">Honestly we don't care if we are called crazy. We are proud to be among those who think and do different.</p>
      </div>
    </div>
  </div>

  <div class="section notopmargin notopborder">
    <div class="container clearfix">
      <div class="heading-block center nomargin">
        <h3>We work as a team and communicate like #Slackers</h3>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="row">
      <img src="/images/slack-shot.png" alt="screenshot of Slack, our preferred communications app">
    </div>
  </div>

  <div class="section blue topmargin nobottommargin">
    <div class="container clearfix">
      <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
        <h4>
          Here's to the crazy ones. The misfits. The rebels. The troublemakers.
          <span class="before-heading">The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status-quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things.</span>
        </h4>
      </div>
    </div>
  </div>

  <div class="container topmargin clearfix">
    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
      <h2>What does the Devschool brand stand for?</h2>
    </div>

    <p class="lead">To put it simply, Devschool stands for the highest standard of excellence in customer service and student education. It is a very hard mark to hit and it keeps us on our toes, but so far we have a 100% approval rating from our alumni, and much of that is due to our relentless duty to our Students' happiness.</p>

    <p>For instance, every Instructor we hire must exhibit not only a strong desire to teach the next generation of programmers in a fun and energetic, informative manner, but they also must promise to hold the torch of our Student experience high and represent the brand at all times.</p>

    <p>You see, at Devschool the Student is always right when it comes to their perception of service. "They pay, they say" is our motto and it extends to how our Students are treated, respected, and ultimately prepared for their careers in coding.</p>

    <p>After our Students, our Brand is our most important asset, and we understand how our brand is ultimately labeled, not by us, but by the world around us. We feel that by jealously guarding the experience and education of our students and always helping someone when we can, we deliver such amazing experience our brand awareness will spread on it own.</p>
  </div>
  </div>

<section id="faq">
  <div class="content-wrap">
    <div class="container topmargin clearfix">
      <div class="heading-block nobottomborder" >
        <h2>The Devschool FAQ</h2>
      </div>

      <p>Over the last couple of years we have been compiling questions prospective students
      just like yourself have asked us. This is our attempt at giving you all the answers you
      need to make the choice to join Devschool and change your life!</p>

      {% for section in site.qnas %}
      <div class="col-md-6 marginbottom">
        <h4 class='topmargin'>{{ section.label }} <small>({{ section.qas | length }})</small></h4>
        <div class="accordion accordion-border clearfix" data-state="closed">
          {% for question in section.qas %}
          <div class="acctitle">{{ question.question }}</div>
          <div class="acc_content clearfix" style="{{ '' if loop.index == 0 else 'display: none;' }}">{{ question.answer }}</div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="apply" class="section nomargin noborder bgcolor dark" style="margin-bottom: 0px;">
  <div class="content-wrap">
    <div class="container clearfix bottommargin">
      <div class="heading-block center nomargin">
        <h3>Make 2016 the year you change your life!</h3>
      </div>
    </div>

    <div class="container clear-bottommargin clearfix">
      <div class="row form">
        <div class="form-card">
          <p>Learn to code online, at your own pace, at Devschool's online coding bootcamp!</p>
          <p class="pricing-section-title center">
          <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">APPLY TODAY!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="dark modal" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p class="lead">We have a few seats left, so your time to grab one is now!</p>
      </div>
      <div class="modal-body">

        <p>In order to claim your Devschool Acceptance Interview, open a new browser tab,
        and do a google search for <strong>coding bootcamp</strong> and then find
        our link and take a screenshot of the google page you found us on.</p>

        <p>Then shoot an email to <a href="mailto:applications@devschool.rocks">applications@devschool.rocks</a>
        and include <strong>I want to join Devschool and change my life</strong> in the subject,
        along with the position you found us at.</p>

        <p>Include the screenshot you took as an attachment, and leave us some info on why you
        would take your education seriously and do the work it takes to be successful! We
        wish you luck and we hope to speak with you soon!</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
