{% extends 'layout.html' %}
{% block title %}Best Coding Bootcamp 2016 - Learn LIVE from an Expert!{% endbloc %}
{% block meta_description %}Job Guarantee! You don't graduate until you get a job coding{% endblock %}
{% block canonical %}https://devschool.rocks{% endblock %}

{% block menu %}
<li><a href="/"><div>HOME</div></a></li>
<li><a data-scrollto="#pricing" data-offset="30" href="#pricing"><div>PRICING</div></a></li>
<li><a data-scrollto="#student" data-offset="30" href="#learn"><div>CURRICULUM</div></a></li>
<li><a data-scrollto="#faq" data-offset="60" href="#faq"><div>FAQ</div></a></li>
<li><a data-scrollto="#apply" data-offset="60" href="#apply"><div>Apply</div></a></li>
<li><a href="/blog"><div>THE BLOG</div></a></li>
{% endblock %}

{% block dark %}dark{% endblock %}

{% block body %}

<section id="slider" class="force-full-screen full-screen">
  <div class="force-full-screen full-screen parallax section nopadding nomargin noborder ohidden" style="height: 781px;">
    <div class="container clearfix dark">
      <div class="dark slider-caption slider-caption-center" style="top: 264.5px;">
        <h1 data-animate="fadeInUp" class="dark fadeInUp animated">The Coding Bootcamp with <span class='red'>❤</span></h1>
        <h2>Learn to code live from an expert programmer</h2>
        <h3>We teach efficient and elegant functional programming using JavaScript and Ruby!</h3>
        <a data-animate="fadeInUp" data-delay="400" data-scrollto="#watchDemo" data-offset="60" 
                                                                               href="#watchDemo" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin fadeInUp animated"
                                                                                                 style="margin-top: 30px">WATCH DEMO</a>
        <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">APPLY TODAY!</a>
      </div>
    </div>
    <div class="video-wrap">
      <video poster="/images/demo.png" preload="auto" loop="" autoplay="" muted="" style="width: 1596px; height: 898px; top: -58.5px;">
        <source src="/videos/demo.mp4" type="video/mp4">
          <source src="/videos/demo.webm" type="video/webm">
      </video>
      <div class="video-overlay" style="background-color: rgba(0,0,0,0.45)">&nbsp;</div>
    </div>
  </div>
</section>

<section id="watchDemo">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-5">
          <div class="center heading-block topmargin">
            <h2>See what learning at Devschool is like!</h2>
          </div>
          <p class="lead">At Devschool you will learn JavaScript and Ruby, as they should be written. Functional, immutable, beatiful JavaScript with closures and asynchronicity thanks to the power of NodeJS!</p>
          <p>We also spend a good amount of time teaching you important programming fundamentals, patterns, and techniques to be more than just a web developer, but to be a programmer with a real understanding of software and computer systems.</p>
        </div>

        <div class="col-lg-7">
          <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_s726r27yb3 videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
            </div>
          </div>
          <h4>Interested in seeing more video examples of real Devschool group sessions?</h4>
          <h3><a href="https://www.youtube.com/c/DevschoolRocks-online-coding-bootcamp" target=_blank>Subscribe to our YouTube page and watch them online!</a></h3>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="jumboelect jumbotron text-center">
    <div class="heading">
      <div class="container">
        <div class="pricing row">
          <h2 class="curriculum-title center">Learn Full Stack Web Development</h2>

        </div>
      </div>
    </div>
    <div class="curriculum">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="boxy">
              <h2 class="learn-box"><span>JavaScript &amp; Node &amp; MongoDB</span></h2>
              <h2 class="learn-box"><span>Ruby on Rails &amp; PostgreSQL</span></h2>
              <h2 class="learn-box"><span>Data Structures &amp; Algorithms</span></h2>
            </div>
            <div class="boxy">
              <h2 class="learn-box"><span>Functional Programming</span></h2>
              <h2 class="learn-box"><span>Test Driven Development</span></h2>
            </div>
          </div>

          <div class="pricing">
            <div class="pricing-item">
              <h3 class="pricing-section--title center">Web Developer Track</h3>
              <div class="pricing-section--price center">
                <span class="pricing--currency">Only $</span>8,000<span class="pricing--period">usd</span>
              </div>

              <p class="lead">In this track you will learn the ins and outs of web development
              using HTML5, CSS3, JavaScript, Ruby on Rails, databases. You will be able to build
              both Node and Ruby on Rails apps when you complete this course.</p>

              <p>The Web Developer Track is designed as an affordable, entry level coding bootcamp for
              those who want to break into the web development field. Your expert Instructors will help
              you bridge the gap, and tackle the tough challenges that learning to program present. You
              will be well equipped for an apprenticeship program or Jr Web Developer position.</p>

              <div class="col-md-4">
                <img class="track-icon" src="/images/homepage/wd-icon.png" alt="">
              </div>
              <div class="col-md-8">
                <ul class="pricing--feature-list">
                  <li class="pricing--feature"><span class="icon icon-tv"></span>50 Private Lessons</li>
                  <li class="pricing--feature"><span class="icon icon-support"></span>50 Group Sessions</li>
                  <li class="pricing--feature"><span class="icon icon-line2-hourglass"></span>Over 650 Hours of Learning</li>
                  <li class="pricing--feature"><span class="icon icon-line2-rocket"></span>We guarantee a $40,000/yr Job! *</li>
                </ul>
              </div>
              <p class="note">* Salary amount can only be guaranteed in USA, Canada, and the UK</p>
            </div>

            <div class="pricing-item blue">
              <h3 class="pricing-section--title center">Software Engineer Track</h3>
              <div class="pricing-section--price center">
                <span class="pricing--currency">Only $</span>14,000<span class="pricing--period">usd</span>
              </div>

              <p class="lead">In this track you will learn everything from the first track, and additionally
              you will discover and learn, Test Driven Development, Refactoring, Design Patterns, and you
              will expand your language knowledge to systems programming using Go or tackle true functional
              programming using Haskell.</p>

              <p>The Software Engineer Track is designed to be a year long course for the average pacing and
              should position you above the other basic bootcamp graduates as you will have not only a deeper
              understanding of core programming concepts, and you will feel far more confident coding live in
              front of prospective employers.</p>

              <div class="col-md-6">
                <img class="track-icon" src="/images/homepage/se-icon.png" alt="">
              </div>
              <div class="col-md-6">
                <ul class="pricing--feature-list">
                  <li class="pricing--feature"><span class="icon icon-tv"></span>100 Private Lessons</li>
                  <li class="pricing--feature"><span class="icon icon-support"></span>100 Group Sessions</li>
                  <li class="pricing--feature"><span class="icon icon-line2-hourglass"></span>Over 1300 Hours of Learning</li>
                  <li class="pricing--feature"><span class="icon icon-line2-rocket"></span>We guarantee a $55,000/yr Job! *</li>
                </ul>
              </div>
              <p class="note">* Salary amount can only be guaranteed in USA, Canada, and the UK</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="financing">
  <div class="row">
    <div class="col-md-12">
      <div class="container center">
        <h3>We now can offer in-house financing to selected students as part of our private beta test</h3>
        <p class="small">Ask if you qualify during your Interview - we can give you an immediate rate quote and a payment
        plan designed to meet your monthly budget.</p>
      </div>
      <div class="ribbon-outer-container ribbon-dark ribbon-homepage" down="down" offset="70px" up="up" zum-waypoint="waypoints">
        <div class="hidden-xs">
          <div class="ribbon-inner-container">
            <div class="row">
              <div class="ribbon-segment col-xs-12 col-sm-6 col-md-3">
                <span class="uc smaller">$4,000 -
                  $10,000</span>
              </div>
              <div class="ribbon-segment col-xs-12 col-sm-6 col-md-3">
                <span class="uc smaller">Rates from 4 – 18% APR</span>
              </div>
              <div class="ribbon-segment col-xs-12 col-sm-6 col-md-3">
                <span class="uc smaller">2 - 5 year terms</span>
              </div>
              <div class="ribbon-segment col-xs-12 col-sm-6 col-md-3">
                <span class="uc smaller">No prepayment penalty</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reviews" class="section parallax dark nobottommargin" style="background-image: url('/images/reviews-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

  <div class="heading-block center">
    <h3>What do students say?</h3>
  </div>

  <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Eric Douglas</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>
          <div class="testi-image">
            <img src="/images/reviewers/eric-douglas.png" class="img-responsive img-circle" alt="Eric Douglas - Devschool Alumni and web developer">
          </div>
          <div class="testi-content">
            <p>My instructor excelled at simplifying concepts into easy to repeat patterns, and I found the experience to be a very friendly, personal one. I have already recommended Devschool to friends!</p>

            <div class="testi-meta">
              Eric Douglas
              <span>Intuit</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Megan Holden</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>

          <div class="testi-image">
            <img src="/images/reviewers/meghan-holden.png" class="img-responsive img-circle" alt="Megan Holden, Devschool ALumni and web developer">
          </div>
          <div class="testi-content">
            <p>I would recommend Devschool to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</p>
            <div class="testi-meta">
              Meghan Holden
              <span>Akai Marketing</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="microdata hidden">
            <div itemscope itemtype="http://schema.org/Review">
              <div itemprop="reviewBody">I was enrolled in another programming bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</div>
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                Written by: <span itemprop="name">Hector Moreno</span></div>
              <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">Devschool</span></div>
              <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"><span itemprop="ratingValue">5</span> / <span itemprop="bestRating">5</span> stars</div>
            </div>
          </div>
          <div class="testi-image">
            <img src="/images/reviewers/hector-moreno.png" class="img-responsive img-circle" alt="Hector Moreno graduated Devschool in 2015 and is now a web developer">
          </div>
          <div class="testi-content">
            <p>I was enrolled in another programming bootcamp and I switched to Devschool because I realized how inexperienced my other instructor was and how much the course was overpriced!</p>
            <div class="testi-meta">
              Hector Moreno
              <span>RemoteTiger</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="externalReviews">
  <div class="more-reviews">
    <div class="container center white">
      <h2 class="white">Looking for Devschool Reviews - here are the links!</h2>
      <p class="links">
      <a target="_blank" rel="nofollow" href="https://www.coursereport.com/schools/devschool">CourseReport</a> |
      <a target="_blank" rel="nofollow" href="https://www.switchup.org/bootcamps/devschool">SwitchUp</a> |
      <a target="_blank" rel="nofollow" href="https://www.quora.com/Reviews-of-Devschool">Quora</a>
      </p>
    </div>
  </div>
</section>

<section id="organicEducation">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row topmargin-lg bottommargin-sm">
        <div class="heading-block center">
          <h2>Enjoy a 100% organic education!</h2>
          <span class="divcenter">At Devschool there are <strong>no static checklists</strong> or <strong>hoops to jump through</strong>.
            Instead, as you <strong>build the application you wish existed</strong>, you will encounter new
            <strong>things to learn</strong> and they will be entirely based on <strong>your own personal journey</strong>,
            and will have a lot more to do with <strong>your own goals and interests</strong>, than how much 'time'
            you have in our program.</span>
        </div>

      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="jumbotron">
            <h3 class="center">The Devschool "Learn to Code" Equation</h3>
            <h4 class="center">1 Private Session (70mins) + 1 Group Session 70mins) + Homework and Hacking (10hrs)</h4>

            <p class="center">We start students with 2 units a week (26 hours) and then move them
            up to 3 a week if their schedule allows it for a total of 39 hours a week.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 bottommargin">

        <div class="feature-box fbox-right topmargin">
          <div class="fbox-icon">
            <span class="icon-line-shuffle"></span>
          </div>
          <h3>Choose your adventure</h3>
          <p>Build the app you want to build. Don't know what to build? We will help you based on your interests and goals.</p>
        </div>

        <div class="feature-box fbox-right topmargin"  data-delay="200">
          <div class="fbox-icon">
            <span class="icon-line-help"></span>
          </div>
          <h3>One on one attention</h3>
          <p>Instead of getting lost in the crowd, you will work one on one with your Instructor several times a week.</p>
        </div>

        <div class="feature-box fbox-right topmargin"  data-delay="400">
          <div class="fbox-icon">
            <span class="icon-users"></span>
          </div>
          <h3>Self-assembling teams</h3>
          <p>Work with the people you want to work with when you are ready, not the people you are assigned to.</p>
        </div>

      </div>

      <div class="col-md-6 col-sm-6 bottommargin">
        <div class="feature-box topmargin" >
          <div class="fbox-icon">
            <span class="icon-line-heart"></span>
          </div>
          <h3>A Brand you can love</h3>
          <p>We are so fiercely personal and helpful to our students that we create an "insanely human experience".</p>
        </div>

        <div class="feature-box topmargin"  data-delay="200">
          <div class="fbox-icon">
            <span class="icon-line-head"></span>
          </div>
          <h3>We only hire Experts</h3>
          <p>We will not sacrifice out students' experiences for profits, so we only hire battle-tested veteran coders.</p>
        </div>

        <div class="feature-box topmargin"  data-delay="400">
          <div class="fbox-icon">
            <span class="icon-dollar"></span>
          </div>
          <h3>Money-back guarantee</h3>
          <p>Should you decide that Devschool is not for you for any reason, we will give you a pro-rated refund.</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="pricing-section--title center">Learn to code, change your life</h3>

  <p class="pricing-section--title center">
  <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">APPLY TODAY!</a>
  </p>
  <div class="section nobottommargin blue">
    <div class="container clear-bottommargin clearfix">
      <div class="row topmargin-sm clearfix">
        <div class="col-md-4 bottommargin">
          <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
            <span class="before-heading">It's David &amp; Goliath</span>
            <h4>and we aren't playing games</h4>
          </div>
          <p>We know we aren't a Big Box Bootcamp, and we are quite proud to say we put our students' experience ahead of every other metric. After all, what good are profits if the product is shit and students aren't happy?</p>
        </div>

        <div class="col-md-4 bottommargin">
          <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
            <span class="before-heading">We don't just teach you</span>
            <h4>We help you get a job</h4>
          </div>
          <p>Once you complete either our online full stack or design programs, we will continue to fight for you until you get a job offer, that is the Devschool guarantee. At session 42 you begin your hunt for a job and we guide your every step!</p>
        </div>

        <div class="col-md-4 bottommargin">
          <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
            <span class="before-heading">Learn an expert Toolset</span>
            <h4>Ruby & JavaScript & Vim</h4>
          </div>
          <p>At Devschool you will be trained starting day one with tools made for experts, not consumers. We help hold you up, fill in the hard parts, and slowly increase the difficulty before giving you full control!
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="learn" class="section parallax nomargin noborder white-crinkle" data-stellar-background-ratio="0.4">
  <div class="container clearfix">
    <div class="row topmargin-lg bottommargin-lg">
      <div class="heading-block center">
        <h3>Some of the awesome stuff you will learn</h3>
      </div>

      <div class="rightmargin leftmargin topmargin">
        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="0">
            <div class="fbox-icon">
              <img src="/images/tools/html5.png" alt="You cant be a web developer without knowing html5">
            </div>
            <h3>HTML5</h3>
            <p>HTML is the heart and soul of the web. It is the foundation on which all the other languages and technologies revolve around and is in constant flux.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="200">
            <div class="fbox-icon">
              <img src="/images/tools/css3.png" alt="CSS is responsible for styling the websites we build as web developers">
            </div>
            <h3>CSS3/SASS</h3>
            <p>Without CSS the web would be a dull and drab place indeed! It is these Cascading Style Sheets that provide all of the color, margin, and fonts to websites.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm col_last">
          <div class="feature-box fbox-small fbox-plain"  data-delay="400">
            <div class="fbox-icon">
              <img src="/images/tools/javascript.png" alt="You can't do web development these days without knowing JavaScript and Gulp and Grunt and the rest of the JavaScript full stack">
            </div>
            <h3>JavaScript/ES6</h3>
            <p>JavaScript is the only language embedded in every browser on the planet. It is the mechanism by which content is changed or animated.</p>
          </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="600">
            <div class="fbox-icon">
              <img src="/images/tools/bootstrap.png" alt="Before Bootstrap, building responsive layouts was really hard">
            </div>
            <h3>Bootstrap</h3>
            <p>Bootstrap is a framework created by Twitter to provide an easy mechanism to render complex content to a wide variety of screen dimensions.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="800">
            <div class="fbox-icon">
              <img src="/images/tools/express.png" alt="Node and Express allow us to build interactive real time web applications.">
            </div>
            <h3>Express &amp; Node</h3>
            <p>Node and Express allow us to build interactive real time web applications. Pairing these two skills together will open a lot of doors for you.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm col_last">
          <div class="feature-box fbox-small fbox-plain"  data-delay="1000">
            <div class="fbox-icon">
              <img src="/images/tools/rails.png" alt="Want to build websites fast? Ruby on Rails will help!">
            </div>
            <h3>Ruby on Rails</h3>
            <p>Ruby on Rails provides an excellent back-end framework for websites with a lot of data entry going on. It excels at helping devs to quickly build features.</p>
          </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain" >
            <div class="fbox-icon">
              <img src="/images/tools/unix.png" alt="Part of becoming a full stack developer means knowing the unix command line">
            </div>
            <h3>Bash &amp; Zsh</h3>
            <p>You will learn to use bash and zsh to your advantage. Aliases, dot files, and a common set of configs and tools you can take with you is one of the hallmarks of a programmer. We will help you master the command terminal.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="200">
            <div class="fbox-icon">
              <img src="/images/tools/git.png" alt="Learning to coding has become a lot easier with tools like git">
            </div>
            <h3>Git</h3>
            <p>We can use Git to secure our files against loss or corruption, for working on experimental branches, for tracking changes made by other developers, and merging it all back together so it can be deployed live on the internet.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm col_last">
          <div class="feature-box fbox-small fbox-plain"  data-delay="400">
            <div class="fbox-icon">
              <img src="/images/tools/postgres.png" alt="Postgresql is a relational database server">
            </div>
            <h3>Postgres &amp; SQL</h3>
            <p>When data must be stored (which is basically all the time), a database is needed to store and retrieve that data At Devschool we primarily focus on tried and true Postgresql and then show you newer formats like Mongo.</p>
          </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="600">
            <div class="fbox-icon">
              <img src="/images/tools/vim.png" alt="Real full stack web developers know the power and simplicity of Vim">
            </div>
            <h3>Vim</h3>
            <p>Vim is some super-secret sauce. Not only does it make you look like a wizard while you are creating and editing files, which is a large part of a developer's life, but it also is built to be a very powerful, efficient tool.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm">
          <div class="feature-box fbox-small fbox-plain"  data-delay="800">
            <div class="fbox-icon">
              <img src="/images/tools/mac.png" alt="Devschool exclusively uses Macs in its online coding bootcamp">
            </div>
            <h3>OSX</h3>
            <p>We LOVE Macs here at Devschool. This is not an accident. Not only are they stunningly beautiful machines for doing computer work on, but they are built on UNIX, which is the basis of all those web servers out there.</p>
          </div>
        </div>

        <div class="col_one_third bottommargin-sm col_last">
          <div class="feature-box fbox-small fbox-plain"  data-delay="1000">
            <div class="fbox-icon">
              <img src="/images/tools/gulp.png" alt="Gulp JS is an amazing build tool to help minify, compress, and can even be a static site generator">
            </div>
            <h3>Gulp</h3>
            <p>Gulp JS is an amazing web development build tool that can do it all. Compress, minify, uglify. It can even build sitemaps and can be used as a static site generator! (SSG)</p>
          </div>
        </div>
      </div>

    </div>
</section>

<section id="three-ways-to-learn" class="section notopmargin">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-12 text-center">
          <div class="heading-block center">
            <h3>More Ways to Learn at Devschool!</h3>
            <p>Not everyone learns best from the same medium, we like to mix it up!</p>
          </div>
          <div class="row">
            <ul class="more-ways list-group zoom-list">
              <li class="list-group-item"><span>Learn live, as a group, led by expert Instructors</span></li>
              <li class="list-group-item"><span>Get live, one on one instruction from expert Instructors</span></li>
              <li class="list-group-item"><span>Your lessons are automagically recorded for later review</span></li>
              <li class="list-group-item"><span>Hack on your real-world projects as part of the equation</span></li>
              <li class="list-group-item"><span>Learn from additional expert-led videos from our partners</span></li>
              <li class="list-group-item"><span>Pair-program with other students on their projects and yours</span></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="partner-content" class="section notopmargin">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-12 text-center">
          <div class="heading-block center">
            <h4>School time is Central US time, but you can watch these videos any time!</h4>
            <p>Get access to a thousand hours of video lessons from our content partners</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="/images/egghead-grab.png" alt="full access to egghead.io">
              <p>Egghead provides excellent bite-size instructional videos on numerous topics and the dozens of frameworks you might encounter as a programmer. If our Instructors at Devschool aren't an expert in a particular framework you want to learn, you can use these videos to supplement the core education program at Devschool!</p>
            </div>
            <div class="col-md-6">
              <img class="img-responsive" src="/images/frontendmasters-grab.png" alt="full access to frontendmasters.com">
              <p>Don't let a name like Frontend Masters fool you. There are some AMAZING backend howto videos on this site as well. It also features two of our favorite JavaScript Instructors, Douglas Crockford and Kyle Simpson. We really can't say enough about this resource and it was worth every penny we spent to include it in the program!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <img class="img-responsive" src="/images/vimadventures-grab.png" alt="full access to vim-adventures.com">
              <p>Learning VIM is cornerstone to your education at Devschool. Not only is it the most powerful programming editor out there and completely free, but there is also a big of marketing behind being a Vimmer. Learn Vim with this Zelda-like browser based game. We love it!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="guarantee">
  <div id="guarantee" class="section notopmargin notopborder">
    <div class="container clearfix">
      <div class="heading-block center nomargin">
        <h3>100% of our Graduates have jobs!</h3>
      </div>
    </div>
  </div>

  <div class="container clear-bottommargin clearfix">
    <div class="row">

      <p class="lead"><strong>How can we boast such a thing?</strong> Well, it is actually VERY SIMPLE (hint,
      we like simple). You don't graduate until you get a job, therefore 100%
      of our graduates have jobs!</p>

      <h3>But what if I find it hard to find work? What if I don't get a job?</h3>

      <p class="lead">Without any further cost to you, we will continue to fight on your side,
      working every day to help get you a job until we get you placed. But to be
      honest, finding people jobs has not been our problem. It has been keeping
      people enrolled in the program their last few weeks because they keep getting
      hired before they finish their studies with us!</p>

      <p class="lead">After you complete our full stack developer bootcamp program you will 
      continue to have access to chat and the group sessions and even interview assistance! 
      We are in this for the long haul, building relationships with our alumni that will hopefully last
      lifetimes!</p>
    </div>
  </div>

  <div class="section blue">
    <div class="container clearfix">
      <div class="center nomargin">
        <h3>Yes, Devschool teaches you to code, but we go much further than that! We help you practice for interviews, solve code challenges, and we don't stop working to get you a job until you are hired - that is our promise to you.</h3>
      </div>
    </div>
  </div>

  <div class="container clear-bottommargin clearfix">
    <div class="container clearfix">
      <div class="row">
        <p class="lead">You see, at Devschool, we start with the Student experience and work forward from there to our goals that involve creating a sustainable, profitable, socially conscionable developer school.</p>

        <p class="lead">It is an article of faith here that if we listen to our customers' needs, make them feel special, guide them towards a prosperous career, and help them land that first job with confidence, then profits and margins and all that 'businessy' stuff will just take care of itself.</p>

        <p class="lead">Maybe we are naive, but we don't think so. Instead, and so far the data is showing, that a programming school can be founded and run without the top-heavy management of MBAs. Our genuine desire to build life-long, positive relationships with our Students, is worth far more than any penny we could ever squeeze.</p>

        <p class="lead">Honestly we don't care if we are called crazy. We are proud to be among those who think and do different.</p>
      </div>
    </div>
  </div>

  <div class="section notopmargin notopborder">
    <div class="container clearfix">
      <div class="heading-block center nomargin">
        <h3>We work as a team and communicate like #Slackers</h3>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="row">
      <img src="/images/slack-shot.png" alt="screenshot of Slack, our preferred communications app">
    </div>
  </div>

  <div class="section blue topmargin nobottommargin">
    <div class="container clearfix">
      <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
        <h4>
          Here's to the crazy ones. The misfits. The rebels. The troublemakers.
          <span class="before-heading">The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status-quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things.</span>
        </h4>
      </div>
    </div>
  </div>

  <div class="container topmargin clearfix">
    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
      <h2>What does the Devschool brand stand for?</h2>
    </div>

    <p class="lead">To put it simply, Devschool stands for the highest standard of excellence in customer service and student education. It is a very hard mark to hit and it keeps us on our toes, but so far we have a 100% approval rating from our alumni, and much of that is due to our relentless duty to our Students' happiness.</p>

    <p>For instance, every Instructor we hire must exhibit not only a strong desire to teach the next generation of programmers in a fun and energetic, informative manner, but they also must promise to hold the torch of our Student experience high and represent the brand at all times.</p>

    <p>You see, at Devschool the Student is always right when it comes to their perception of service. "They pay, they say" is our motto and it extends to how our Students are treated, respected, and ultimately prepared for their careers in coding.</p>

    <p>After our Students, our Brand is our most important asset, and we understand how our brand is ultimately labeled, not by us, but by the world around us. We feel that by jealously guarding the experience and education of our students and always helping someone when we can, we will deliver such amazing experience our brand awareness will spread on it own.</p>
  </div>
  </div>

  <div class="section parallax full-screen nomargin noborder" style="background: #eee url(/images/bg_white_crinkle.jpg);"
                                                              data-stellar-background-ratio="0.4">
    <div class="container topmargin clearfix">
      <div class="heading-block nobottomborder" >
        <h2>Our job placement numbers explained</h2>
      </div>

      <p class="lead">We have a 100 % hire rate after graduation, but unlike some of the Big Box Bootcamps, our numbers are easy to explain!</p>

      <p>When you complete your interning hours and are nearing the end of your 42 private sessions, you begin looking for work. During you job search we advise you on how to make yourself more palatable by employers and help you complete AND UNDERSTAND the code challenges you will be given as part of that job search.</p>

      <p>When you get your first job you graduate the program. If you don't get the job you do what winners do, you keep looking, and in the meanwhile we try to find a place for you with one of our non profit partners.</p>

      <div class="heading-block nobottomborder">
        <h2>What our job guarantee means</h2>
      </div>

      <p class="lead">We don't stop working for you until you get a job. You pay no additional cost for this service, it is part of why Devschool is radically different from the so called competition. They give you McDonalds we give you steak.</p>
    </div>
    <p>&nbsp;</p>
  </div>
</section>

<section id="faq">
  <div class="content-wrap">
    <div class="container topmargin clearfix">
      <div class="heading-block nobottomborder" >
        <h2>The Devschool FAQ</h2>
      </div>

      <p>Over the last couple of years we have been compiling questions prospective students
      just like yourself have asked us. This is our attempt at giving you all the answers you
      need to make the choice to join Devschool and change your life!</p>

      {% for section in site.qnas %}
      <div class="col-md-6 marginbottom">
        <h4 class='topmargin'>{{ section.label }} <small>({{ section.qas | length }})</small></h4>
        <div class="accordion accordion-border clearfix" data-state="closed">
          {% for question in section.qas %}
          <div class="acctitle">{{ question.question }}</div>
          <div class="acc_content clearfix" style="{{ '' if loop.index == 0 else 'display: none;' }}">{{ question.answer }}</div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="apply" class="section nomargin noborder bgcolor dark" style="margin-bottom: 0px;">
  <div class="content-wrap">
    <div class="container clearfix bottommargin">
      <div class="heading-block center nomargin">
        <h3>Make 2016 the year you change your life!</h3>
      </div>
    </div>

    <div class="container clear-bottommargin clearfix">
      <div class="row form">
        <div class="form-card">
          <h3>Start today at no cost!
            We think after you have a chance to learn something personally from a Devschool instructor, you will take the leap and make 2016 the year you finally learn to code for real.</h3>
          <p class="pricing-section--title center">
          <a data-animate="fadeInUp" data-delay="600" class="button button-3d joinNowBtn button-large nobottommargin fadeInUp animated">APPLY TODAY!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="dark modal" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Here is how to claim your interview..</h2>
      </div>
      <div class="modal-body">
        <p class="lead">To get your Devschool Interview we need you to help us run an experiment!
        Just open a new browser window, and google "coding bootcamp".</p>

        <p>Then click through the pages of results one by one until you find our link. Take a screenshot of the page you found us on and
        then, CLICK OUR LINK! Give our homepage a good final read so you are prepared for your interview.</p>

        <p>Now send us the screenshot (<a title="apply to devschool's coding bootcamp today" href="mailto:interviews@devschool.rocks">interviews@devschool.rocks</a>) and
        tell us why you want to become a software developer and why you would make a good Devshool student.</p>

        <h3>Thanks for your interest in Devschool! We hope to play an important part in making your dreams come true!</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
