{% from 'macros/helpers.html' import sprite %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Learn to code at our online coding bootcamp | Devschool{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Learn to code from expert mentors in our coding bootcamp online, building real world applications! We don't just train you, we guarantee a job!{% endblock %}">

    {% include "shared/seo-stuff.html" %}
    {% include "shared/ld-json.html" %}
    {% include "shared/app-icons.html" %}

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/all.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>

  <body class="stretched avgrund-blur">
    <div id="wrapper" class="clearfix">
      {% include "shared/header.html" %}
      {% block content %}{% endblock %}
      {% include "shared/footer.html" %}
      <div id="gotoTop" class="icon-angle-up"></div>
    </div>
    {% include "shared/chatio-slack.html" %}
    {% include "shared/ganalytics.html" %}
    {% block javascript %}{% endblock %}
    <script type="text/javascript" src="javascripts/all.js"></script>
  </body>

</html>
