{% extends 'layout.html' %}

{% block title %}Our Privacy Policy | Devschool{% endblock %}
{% block meta_description %}We will not sell or trade your info ever. read about that and more, here in Devschool's privacy policy{% endblock %}
{% block canonical %}https://devschool.rocks/privacy.html{% endblock %}


{% block logo %}
  <a href="/" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="images/logo.png" alt="Devschool, online coding bootcamp"></a>
  <a href="/" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Learn to code online in our coding bootcamp"></a>
{% endblock %}

{% block menu %}
<li><a href="/"><div>HOME</div></a></li>
{% endblock %}

{% block body %}
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
	<h1>DEVSCHOOL LLC Privacy Policy</h1>
	<h4>As Amended February 26th, 2016</h4>

	<div>
	  <p>The following Privacy Policy (the “Policy”) explains how DevSchool LLC (the “Company”) collects, uses, and shares information about Users during their use of Company Services, websites, mobile applications, or other online products and services (collectively referred to as the “Services”), or otherwise interacts with Company. This Policy does not apply to information collected by any third party, including Company affiliates and subsidiaries, through any application, content, or advertising that may link to or be accessible from the Services. “User” shall refer to any person or entity accessing, using, or making purchases through Company Services</p>
	</div>

	<div>
	  <p class="title">1. Changes to Policy</p>

	  <p>Company may modify this Policy at any time, under its discretion. Should there be any material changes to the Policy, Users shall be notified with a one (1) month notice prior to the effective date of the new policy. It shall be posted on Services and on the Company mobile application if applicable. At the beginning of each set of Policies, the effective date shall be posted. Users agree the continued access of Services after the effective date, warrants their acceptance to the modifications.</p>
	</div>

	<div>
	  <p class="title">2. Information Collected and Programs Used</p>

	  <p>Company may collect information including, but not limited to, Users’ legal names, addresses, purchase history, browsing history, cookie information, financial information including credit cards and banking information, date of birth, social security number, alien registration number, taxpayer identification number, email addresses, passwords, usernames, billing and shipping addresses, purchasing preferences, demographic information and any other information you choose to provide, including information that is defined as personal or personally identifiable information under any applicable law (the “Highly Sensitive Information”).</p>
	</div>

	<div>
	  <ol type="A">
	    <li>
	      <p><span class="title">User Provided Information</span>. Company collects any information Users provide directly to Company. Certain information will be collected upon Account creation, Users’ purchase, using interactive areas of Company Services, signing up to receive Company communications, during the request of customer support, and during any other contact or communication with Company.</p>
	      <p>Company may also collect and store information about other people and businesses that Users provide to Company, as well as information about you provided by others. If you or other users who use Services upload, share or distribute content, including, without limitation, videos, comments or any other submission, and such content contains personal information about you or others, such information may be stored in order to allow for such uploading, sharing or distribution. As a requirement to use our Services, you acknowledge that you have the appropriate consent from any individual or business to share their personal information with Company.</p>
	    </li>

	    <li>
	      <p><span class="title">Information Collected Automatically</span>. Company may collect some information automatically when User accesses Services, this information may include:</p>

	      <ol type="i">
		<li>
		  <p><span class="title">Logging Information</span>: Company may log information about Users’ use of Services including but not limited to, Users’ browser type, browser plug-in details, operating system, device type, access times, time zone, usage data, referring/exit pages and URLs, User submitted preferences, number of clicks, pages viewed, date and time of each visitor request, screen size and related information, language preference, referring site User IP address and pages User visited immediately preceding the access of Services.</p>
		</li>
		<li>
		  <p><span class="title">Cookies and Tracking Devices</span>: Company uses different technology to collect information including, but not limited to, sending cookies to User computers or mobile devices. Cookies are small data files stored on Users’ hard drive or in Users’ device memory that helps Company improve Services and the User experience. Company may use both persistent and session cookies; persistent cookies remain on your computer after you close your session and until you delete them, while session cookies expire when you close your browser.</p>

		  <p>Company may also collect information using web beacons or tracking pixels. Web beacons are electronic images that may be used in our Services or emails to help deliver cookies, count visits, understand usage and campaign effectiveness, and determine whether an email has been opened and acted upon.</p>

		  <p>Web browsers generally accept cookies by default. Users may choose to set, or alter, web browser preferences to remove or reject cookies. However, this may limit and affect the functionality of Company’s Services.</p>
		</li>
		<li>
		  <p><span class="title">Mobile Device Location Information</span>. When you visit the Services from your mobile device, Company may collect and store your location information if Users’ mobile settings allow the submission and collection of such data. Collection of this information may improve User Services.</p>
		</li>
		<li>
		  <p><span class="title">Information Company Collects From Other Sources</span>. Company may collect or obtain information from other sources and combine such information with that collected through Services.</p>
		</li>
	      </ol>

	      <p>Company uses different technology to produce pop-ups on Services. Pop-ups are web browser windows that appear while User is engaged on a separate web browser window. Pop-ups may be used for links to other sites or pages of Company, various third party sites.  Company may use pop-ups for any reason, at any time, with or without notice to User. Web browsers generally allow pop-ups by default. Users may choose to set, or alter, web browser preferences to remove or reject pop-ups. However, this may limit and affect the functionality of Company’s Services.</p>

	      <p>Company Services uses Google Analytics. This program is a web based analytic software produced by Google. Company uses this program to track and report traffic on Company Services. Information collected from Analytics is used to later improve the experience of Users when using Company Services. By using Services, Users hereby acknowledge and consent to such information being collected by Analytics, with or without notice to User. Users hereby acknowledge and consent to Company’s collection, storage, and use of such information, without objection.</p>

	    </li>
	  </ol>
	</div>

	<div>
	  <p class="title">3. Company Use and Sharing of Information</p>

	  <p><span class="title">Personal Information</span>. Company hereby warrants it will not sell any User information, including HSI, to any third party. However, in the even Company undergoes a business transaction such as a merger, acquisition by another company, or sale of all or a portion of its assets, User personal information may be among the assets transferred. User hereby acknowledges and consents that such transfers may occur and are permitted under the Terms and this Policy, and that any acquirer of Company assets may continue to process personal information as set forth in the Terms and this Policy.</p>

	  <p><span class="title">Non-Personal Information</span>. Company may use personal or non-personal information, for various purposes, including:</p>

	  <ol type="A" id="np-info">
	    <li>Top operate and improve Services;</li>
	    <li>Provide and deliver products and services User has requested or purchased;</li>
	    <li>To process transactions and send Users related information, including confirmations and invoices;</li>
	    <li>Solicit feedback from Users;</li>
	    <li>Provide technical support;</li>
	    <li>Send Users technical notices, updates, security alerts, support and administrative messages;</li>
	    <li>Respond to User comments, questions, and requests;</li>
	    <li>To provide customer service;</li>
	    <li>Communicate with Users regarding products, services, offers, promotions, rewards, and events offered by Company or Company Parties;</li>
	    <li>Conduct market research;</li>
	    <li>Monitor and analyze trends, usage, and activities regarding Services;</li>
	    <li>Personalize and improve Services;</li>
	    <li>To provide advertisements, content, or features that match User profiles or interests;</li>
	    <li>To prevent fraud;</li>
	    <li>Process and deliver contest entries and rewards;</li>
	    <li>Link or combine with information collected from others to help understand User needs and provide Users with better service; and</li>
	    <li>Carry out any other purpose for which the information was collected as allowed under applicable law.</li>
	  </ol>

	  <p>In general Company uses non-personal information to help improve Service and customize the User experience. Company also aggregates non-personal information in order to track trends and analyze use patterns on its Services. This Policy does not limit in any way Company’s use or disclosure of non-personal information and Company reserves the right to use and disclose such non-personal information to its partners, advertisers, third parties or affiliates, at its own discretion.</p>
	</div>

	<div>
	  <p class="title">4. Protection of Information</p>

	  <p>Company implements security measures designed to protect User information from unauthorized access. However, Company urges Users to take steps to keep any information used to access Services safe by not disclosing anything personally identifiable information.</p>
	</div>

	<div>
	  <p class="title">5. User Rights Regarding Use of Personal Information</p>

	  <p>Users have the right at any time to prevent Company from contacting User for marketing purposes. When Company sends a promotions communication to User, User may opt out of further promotional communication by following the unsubscribe instructions provided for at the bottom of the promotional email. User may indicated they do not wish to receive marketing communications from Company in the “Settings” section of User Account located on Service. Please note that notwithstanding the promotional preferences indicated by either unsubscribing or option out in the Settings section of the Services, Company may continue to send administrative emails regarding updates to these Terms or Policy.</p>
	</div>

	<div>
	  <p class="title">6. Social Media and Third Party</p>

	  <p>Company may offer options to link to Users’ or other personal or entity social media sites. These social links let Users share actions or comments regarding Company and its Services through other media. Services may contain links to third party websites, and services not operated by Company. Company does not control these services. Linked sites and social media links may be provided as a service to Users, and does not imply any endorsement of the activities or content of these sites, nor any association with its operators. Users assume any and all risks, known or unknown, now existing or existing in the future, by following a link to a linked site. For specific terms and conditions, including privacy policies of the social media sites, please visit those sites directly.</p>
	</div>
	<div>
	  <p class="title">7. Children Privacy</p>

	  <p>Company does not knowingly collect information, or allow access to Service, from children under the age of 18. If such information is discovered by Company, the information shall be removed, account deleted, and access blocked. Additionally, any guardian who learns a minor under the age of 18 is accessing Services without parental or guardian consent, may contact Company at the address below to have such information removed and blocked:</p>

	  <a href="mailto:help@devschool.rocks">help@devschool.rocks</a>
	</div>
	<div>
	  <p class="title">8. California Disclosure</p>

	  <p>California law allows California residents to request specific details about the disclosure of personal information to third parties for marketing purposes. Please contact Company at the address below for this request:</p>

	</div>
	<div>
	  <p class="title">9. Contact Information</p>

	  <address>
	    Devschool, Inc.<br>
	    8 THE GREEN<br>
            Suit #4595<br>
	    Dover, DE 19901<br>
	    <a href="mailto:help@devschool.rocks">help@devschool.rocks</a>
	  </address>  
	</div>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}
